[run]
omit =
    */config/schema.py
    */core/events.py
    */tests/*
[report]
omit =
    */config/schema.py
    */core/errors.py
    */plotting/candlestick.py
    */tests/*
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def main
