language: python
python:
- 3.8
services:
- redis
- postgresql
install: pip install -U tox-travis
before_script:
- export TZ=Asia/Shanghai
- sudo mkdir -p /var/log/zillionare
- sudo chmod 777 /var/log/zillionare
- psql -c 'create database zillionare;' -U postgres
- psql -c "create user zillionare with password '123456';" -U postgres
- psql -c "grant all privileges on database zillionare to zillionare;" -U postgres
- psql --dbname=zillionare --file=omicron/config/sql/v0.6.sql
#script: tox
before_deploy:
- poetry config repositories.testpypi https://test.pypi.org/legacy/

# todo: switch to official after test pass
- poetry config pypi-token.testpypi $TESTPYPI_TOKEN
- poetry config pypi-token.pypi $PYPI_TOKEN
deploy:
  - provider: script
    script: poetry publish -r testpypi --build
    on:
      #tags: true
      python: 3.8
